body{
    color: rgb(0, 63, 145);
    line-height: 2.0rem;
    margin: 0;
}

/* .background{
    /* height: 300px; */
    /* padding-top: 30%; */
    /* background-size: cover; */
    /* background-position: bottom; */
/* } */

#top .background{
    background-image: url(/style/images/kendo1.jpg);
} */


.example img {
    width: 100%;
    height: 50px;
    object-fit: cover;
}








/* ロゴ表示 */
.logo_fadein{
    /* フェードアウト */
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
}
.logo_fadein p {
    /* フェードイン */
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 280px;
}