
@font-face {
	font-family: 'KikaiChokokuJIS';
	src: url(./font/Togalite-Regular.otf) format('opentype');
}
* {
box-sizing: border-box;
}
body {
    background-color: rgb(212, 228, 228);
    font-size: 14px;
    margin: 0%;
}
.content {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
header {
    width: 100%;
    height: 45px;
    background: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

footer{
    width: 100%;
    height: 45px;
    background: rgba(0,0,0,1); 
    /* position: absolute; */
    bottom: 0; 
}

.banner_image {
    width: 100%;
    height: 280px;
    background: url("./images/kendo3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.7;
    position: absolute;
    top: 45px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    filter: sepia(40%);
    filter: drop-shadow(0px 0px 10px rgb(7, 7, 7));
}
.app_title {
    width: 100%;
    color: rgba(255, 255, 255);
    position: absolute;
    height: 280px;
    font-family: 'KikaiChokokuJIS';
    font-weight: Regular;
    font-size: 100px;
    text-align: center;
    filter: drop-shadow(0px 0px 10px rgb(7, 7, 7));
    display: grid;
    place-items: center;
    opacity: 0.7;
}

.container {
    display: flex;
    height: 400px;
}

#good {
    text-align: center;
    font-size: 25px;    
    color: red;
}

#score {
    text-align: center;
    font-size: 25px;    
    color: blue;

}

.left {
    width: 600px;
    float: left;
    /* padding: 400px 10px 0 10px; */
}

.right {
    width: 600px;
    float: right;
    /* padding: 400px 10px 0 10px; */
    transform: scale(-1, 1); 
}

h1 {
    font-family: Impact;
    text-align: center;
}

.btn-area{
    width: 100%;
    text-align: center;
    position: absolute;
}

.score-board{
    margin-top: 300px;
    padding: 60px;
}

